<div>
	<!-- translation: translation pipe -->
	<h1>{{ 'demo-1.title' | translate }}</h1>

	<!-- translation: directive (key as attribute)-->
	<p [translate]="'demo-1.title'"></p>

	<!-- translation: directive (key as content of element) -->
	<p translate>demo-1.text</p>
</div>

<hr>

<div>
	<!-- translation: translation pipe -->
	<h1>{{ 'demo-2.title' | translate }}</h1>

	<!-- translation: directive (key as attribute)-->
	<p [translate]="'demo-2.title'"></p>

	<!-- translation: directive (key as content of element) -->
	<p translate>demo-2.text</p>
</div>


<button (click)="useLanguage('en')">en</button>
<br>
<button (click)="useLanguage('tr')">tr</button>